build --incompatible_no_transitive_loads=false
build --incompatible_bzl_disallow_load_after_statement=false
build --incompatible_disallow_load_labels_to_cross_package_boundaries=false
build --incompatible_disable_crosstool_file=false
build --incompatible_disable_legacy_cc_provider=false
build --incompatible_disable_genrule_cc_toolchain_dependency=false

query --noincompatible_no_transitive_loads
query --noincompatible_bzl_disallow_load_after_statement
query --noincompatible_disallow_load_labels_to_cross_package_boundaries

sync --noincompatible_no_transitive_loads
sync --noincompatible_bzl_disallow_load_after_statement
sync --noincompatible_disallow_load_labels_to_cross_package_boundaries

build --incompatible_strict_action_env
build --verbose_failures
