build --incompatible_depset_is_not_iterable=false
build --incompatible_new_actions_api=false
build --incompatible_no_support_tools_in_action_inputs=false

build --incompatible_strict_action_env
build --verbose_failures
